.resetPassword {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: white;
    font-size: 40px;
  }
  p {
    color: white;
    margin-top: 13px;
    margin-bottom: 20px;
    letter-spacing: 1.3px;
    font-size: 16px;
    span {
      color: #82e8ff;
    }
  }
  div {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 7px 10px;
    width: 370px;
    img {
      width: 30px;
    }
    span {
      background: transparent;
      border: none;
      font-size: 17px;
      ::placeholder {
        color: rgb(220, 220, 220);
      }
    }
  }
  .resetBtn {
    border: 2px #4ccd2c solid;
    width: 370px;
    border-radius: 15px;
    background: transparent;
    color: #4ccd2c;
    padding-block: 25px;
    font-size: 17px;
    margin-top: 30px;
    transition: 0.4s;
    div {
      display: none;
    }
    &:hover,
    &:focus,
    &:active,
    &:hover:focus,
    &:hover:active,
    &:focus:active {
      background: unset !important;
      box-shadow: none !important;
      color: #4ccd2c !important;
      cursor: pointer !important;
    }
  }
}
.resetPageNone {
  margin-left: 500px;
  margin-top: 100px;
}
